@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #2d4052;
    --secondary-color: #5b80a4;
    --netural-background: #999999;
    font-family: "Poppins", "Raleway", sans-serif;
}

*{
    margin: none;
    padding: none;
    box-sizing: border-box;
}

html body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.signup-container{
    width: 99vw;
    height: 97vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: none;
}

.signup-main-container{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.signup-img-container{
    width: 40%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-image: url('../../assets/sign-upImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.register{
    width: 60%;
    height: 100%;
    padding: 2rem;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.signup-title span{
    font-size: 2rem;
    font-weight: 800;
    color: var(--primary-color);
}

.default-property{
    display: flex;
    flex-direction: column;
    gap: 0.01rem;
}

.default-property span{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--secondary-color);
}

.default-property input{
    padding-left: 1rem;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    border: 1px solid black;
}

.default input{
    width: 60%;
    height: 1.5rem;
    padding-left: 1rem;
    border: 1px solid black;
    border-radius: 0.4rem;
}

.default-property input:focus{
    outline: none;
}

.password{
    width: 100%;
    display: flex;
}

.password input{
    width: 50%;
    height: 1.5rem;
}

.password button{
    width: 10%;
    height: 100%;
}

.sign-up{
    display: flex;
    justify-content: space-between;
}

.sign-up button{
    width: 100%;
    height: 140%;
    padding: 0.3rem;
    border-radius: 0.3rem;
    background-color: black;
    color: white;
    border: none;
}

@media screen and (max-height: 500px){
    .signup-main-container{
        height: 90%;
    }
}

@media screen and (max-width: 1000px){
    .password input{
        width: 50%;
    }
    .password button{
        width: 10%;
    }
}

@media screen and (max-width: 746px){
    .register{
        gap: 0.8rem;
    }
    .sign-up button{
        width: 100%;
        height: 140%;
    }
    .default-property input{
        width: auto;
    }
    .default-property button{
        width: auto;
    }
}

@media screen and (max-width: 674px){
    .signup-img-container{
        width: 0%;
        height: 0%;
    }
    .register{
        padding-left: 1rem;
        width: 100%;
        height: 100%;
    }
    .default input{
        width: auto;
    }
    .password input{
        width: 85%;
    }
    .password button{
        width: 15%;
    }
}

@media screen and (max-width: 410px) {
    .signup-main-container{
        width: 90%;
        height: 77%;
    }
    .register{
        gap: 1.3rem;
    }
    .signup-title span{
        font-size: 1rem;
    }
    .default-property span{
        font-size: 0.8rem;
    }
    .default input{
        width: auto;
    }
    .password input{
        width: 85%;
    }
    .password button{
        width: 15%;
    }
    .login-button span{
        font-size: 0.8rem;
    }
    .link{
        font-size: 0.8rem;
    }
}

@media screen and (max-height: 527px) {
    .signup-main-container{
        height: 90%;
    }
}

@media screen and (max-height: 472px) {
    .signup-main-container{
        height: 95%;
    }
}

@media screen and (max-height: 444px) {
    .signup-main-container{
        height: 100%;
    }
}