.rbc-calendar {
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
}

.rbc-toolbar {
    background-color: #1e90ff;
    color: #ffffff;
    border-radius: 8px;
    /* padding: 10px; */
}

.rbc-toolbar button {
    color: #ffffff;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.rbc-toolbar button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.rbc-today {
    background-color: #1e1e1e;
}

.rbc-month-view {
    background-color: #000000;
    border-radius: 8px;
}