@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #2d4052;
    --secondary-color: #5b80a4;
    --netural-background: #999999;
    font-family: "Poppins", "Raleway", sans-serif;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

*{
    margin: none;
    padding: none;
    box-sizing: border-box;
}

html body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.calendar-container{
    max-width: 250px;
    max-height: 295px;
    width: fit-content;
    height: fit-content;
}

.css-1rtg91x-MuiDateCalendar-root{
    max-width: 275px !important;
    max-height: 260px !important;
    height: 295px !important;
}

.css-1aqny2q-MuiPickersCalendarHeader-root{
    background-color: var(--primary-color);
}

.css-23p0if-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected){
    background-color: var(--primary-color) !important; 
}

.css-114bzxb-MuiBadge-badge{
    background-color: var(--secondary-color) !important;
}