@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #2d4052;
    --secondary-color: #5b80a4;
    --netural-background: #999999;
    font-family: "Poppins", "Raleway", sans-serif;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

*{
    margin: none;
    padding: none;
    box-sizing: border-box;
}

html body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.analytics-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.analytics-main-container{
    width: 90%;
    height: 90%;
    padding: 1%;
    border-radius: 0.6rem;
    box-shadow: 0px 4px 8px black;
    display: flex;
    flex-direction: column;
}

.analytics-top-container{
    width: 100%;
    height: 50%;
    display: flex;
}

.analytics-pie-container{
    width: 40%;
    height: 100%;
    border-right: 1px solid var(--primary-color);
}

.analytics-pie-container span{
    font-weight: 800;
    color: var(--primary-color);
}

.analytics-right-container{
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 0.5rem;
    flex-direction: column;
    gap: 3%;
}

.analytics-total-container{
    width: 100%;
    height: 30%;
    display: flex;
    gap: 2%;
}

.analytics-total-container span{
    font-weight: 600;
    font-family: 'Raleway';
}

.analytics-total-members, .analytics-total-problems, .analytics-total-events{
    width: 20%;
    height: 100%;
    padding: 1%;
    text-align: center;
    color: white;
    border-radius: 0.2rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.analytics-bottom-container{
    width: 100%;
    height: 50%;
    padding-top: 0.4rem;
    border-top: 1px solid var(--primary-color);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
}

.analytics-display-members-container{
    width: 90%;
    height: 40%;
    padding: 1%;
    color: white;
    font-weight: 600;
    font-family: 'Raleway';
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.analytics-display-members-container:nth-child(odd){
    background-color: var(--primary-color);
}

.analytics-display-members-container:nth-child(even){
    background-color: var(--secondary-color);
}

.analytics-change-admin-container{
    width: 100%;
    height: 50%;
    font-weight: 600;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.analytics-change button{
    width: 20%;
    height: 100%;
    border-radius: 0.3rem;
    border: none;
    color: white;
    background-color: var(--primary-color);
}

.analytics-change button:hover{
    background-color: #283a4a;
}

.analytics-admin-input{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.analytics-admin-input input{
    width: 40%;
    border: 1px solid black;
    border-radius: 0.3rem;
}

.analytics-admin-input input:focus{
    border: 1px solid black;
    outline: none;
}

.analytics-admin-button button{
    width: 10%;
    height: 100%;
    border-radius: 0.3rem;
    border: none;
    color: white;
    background-color: var(--primary-color);
}

.analytics-admin-button button:hover{
    background-color: #283a4a;
}