@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #2d4052;
    --secondary-color: #5b80a4;
    --netural-background: #999999;
    font-family: "Poppins", "Raleway", sans-serif;
}

html body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.event-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-main-container{
    width: 99%;
    height: 99%;
    padding: 1%;
    border-radius: 0.7rem;
    box-shadow: 0px 4px 8px black;
    display: flex;
    gap: 1rem;
}

.event-left-container{
    width: 20%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}

.event-bottom-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.event-bottom-container span{
    font-weight: 700;
    color: var(--primary-color);
}

.event-bottom-container input{
    width: 90%;
    height: 4vh;
    border-radius: 0.4rem;
    border: 1px solid black;
}

.event-bottom-container input:focus{
    border: 1px solid black;
    outline: none;
}

.event-bottom-container button{
    width: 30%;
    height: 5vh;
    color: white;
    border-radius: 0.4rem;
    background-color: var(--primary-color);
    border: none;
}

.event-bottom-container button:hover{
    background-color: #273848;
}

.event-create-title{
    display: flex;
    flex-direction: column;
}

.event-create-discription{
    display: flex;
    flex-direction: column;
}

.event-create-location{
    display: flex;
    flex-direction: column;
}

.event-create-ondate{
    display: flex;
    flex-direction: column;
}

.event-display-section{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.event-display-top{
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

.event-display-top span{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.event-display-bottom{
    width: 100%;
    height: 90%;
    padding: 1%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1%;
}

.event-display-main{
    width: 100%;
    height: auto;
    padding: 0.6rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.event-display-main:nth-child(odd){
    background-color: #91adc8;
}

.event-display-main:nth-child(even){
    background-color: #9bbcd9;
}

.event-display-title span{
    font-weight: 600;
    color: black;
}

.event-display-title p{
    display: inline;
    font-weight: 500;
    color: black;
}

.event-display-discription span{
    font-weight: 600;
    color: black;
}

.event-display-discription p{
    display: inline;
    font-weight: 500;
    color: black;
}

.event-display-location span{
    font-weight: 600;
    color: black;
}

.event-display-location p{
    display: inline;
    font-weight: 500;
    color: black;
}

.event-display-on-date span{
    font-weight: 600;
    color: black;
}

.event-display-on-date p{
    display: inline;
    font-weight: 500;
    color: black;
}

.event-display-buttons{
    width: 100%;
    display: flex;
    gap: 2%;
}

.event-display-buttons button{
    width: 4rem;
    height: 2rem;
    border-radius: 0.3rem;
    color: rgb(215, 232, 232);
    background-color: #2d4052;
    border: none;
}

.event-display-buttons button:hover{
    background-color: #2d4052;
}

.update-event-container{
    width: 100%;
    height: auto;
    padding: 1%;
    border: 1px solid black;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.update-event-container span{
    font-weight: 600;
    color: black;
}

.update-event-container input{
    width: 20%;
    height: 3vh;
    border-radius: 0.3rem;
    border: 1px solid black;
}

.update-event-container input:focus{
    border: 1px solid black;
    outline: none;
}

.update-submit-container button{
    width: 8%;
    height: 4vh;
    color: white;
    border-radius: 0.4rem;
    border: none;
    background-color: var(--primary-color);
}

.update-submit-container button:hover{
    background-color: #21313f;
}

@media screen and (max-width: 775px) {
    .event-create-section{
        width: 35%;
    }
    .event-create-title{
        height: 15%;
    }
    .event-create-title span{
        font-size: 1.3rem;
    }   
}

@media screen and (max-width: 580px){
    .event-create-button button{
        width: 50%;
    }
}

@media screen and (max-width: 380px){
    .event-create-button button{
        width: 60%;
    }
}

@media screen and (max-width: 1440px) {
    .event-left-container{
        width: 25%;
        height: 100%;
        gap: 1rem !important;
    }
    .event-display-section{
        width: 75%;
    }
    .event-calendar-display{
        height: 50%;
        width: 100%;
    }
    .event-bottom-container{
        height: 50%;
        width: 100%;
    }
    .event-create-section{
        height: 50%;
    }
}

@media screen and (max-width: 1265px) {
    .event-main-container{
        flex-direction: column;
    }
    .event-left-container{
        width: 100%;
        height: 50%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: none;
        gap: 0.6rem;
    }
    .event-calendar-display{
        padding: 1%;
        width: 40%;
        height: 100%;
    }
    .event-display-section{
        width: 100%;
        height: 50%;
    }
    .event-bottom-container{
        width: 60%;
        height: 100%;
    }
    .update-submit-container button{
        width: 4rem;
    }
}

@media screen and (max-width: 820px) {
    .event-calendar-display{
        width: 50%;
    }
    .event-bottom-container{
        width: 50%;
    }
    .update-event-container input{
        width: 50%;
    }
    .event-display-section{
        height: 50%;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 640px) {
    .event-bottom-container{
        padding: 1%;
        width: 100%;
    }
    .update-event-container input{
        width: 60%;
    }
}