@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #2d4052;
    --secondary-color: #5b80a4;
    --netural-background: #999999;
    font-family: "Poppins", "Raleway", sans-serif;
}

*{
    margin: none;
    padding: none;
    box-sizing: border-box;
}

html body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.card-container{
    width: 80vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-main-container{
    width: 100%;
    height: 70%;
    padding: 2%;
    display: grid;   
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}

.cards-content{
    padding: 4%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: black;
    transition: box-shadow 0.5s ease-in-out;
}

.cards-content:hover{
    box-shadow: 0 4px 10px rgb(0, 0, 0);
}

.cards-content button{
    padding: 3%;
    border-radius: 0.3rem;
    color: white;
    transition: box-shadow 0.5s ease-in-out;
}

.event-card{
    background-color: #DDA0DD;
}

.event-card button{
    border: 1px solid #000000;
    background-color: #000000;
}

.event-card button:hover{
    border: 1px solid white;
}

.problem-card{
    background-color: rgb(249, 249, 116);
}

.problem-card button{
    color: black;
    border: 1px solid white;
    background-color: white;
}

.problem-card button:hover{
    border: 1px solid black;
}

.disscusion-card{
    background-color: #62d7ac;
}

.disscusion-card button{
    background-color:  black;
    border: 1px solid black;
}

.disscusion-card button:hover{
    border: 1px solid white;
}

.cards-icon{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-body{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}

.event-card, .disscusion-card span{
    color: #000000;
    font-family: 'Raleway';
    font-size: large;
    font-weight: 600;
}

.problem-card span{
    color: white;
    font-family: 'Raleway';
    font-size: large;
    font-weight: 600;
}

.cards-button{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 50%;
    height: 50%;
}

.problem-icon{
    color: white;
}

@media screen and (max-width: 550px) {
    .card-container{
        width: 70vw;
    }
    .card-main-container{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .cards-content{
        width: 100%;
        height: 30%;
    }
}